<h1 id="partial"> </h1>

<div>
    <h1 class="custom-form-title">
        Login
    </h1>
    <form>
        <div class="custom-wrap-input validate-input">
            <input class="custom-input" id="username" name="username" type="text" minlength="4" placeholder="Username" required> <br />
            <input class="custom-input" id="password" name="password" type="password" minlength="4" placeholder="Password" required>
        </div>
    
    <div class="container-form-btn">
        <button id="Login" class="custom-form-btn">
            Login
        </button>
    </div>
    </form>
</div>