<p>Use this page to detail your site's privacy policy.</p>

<div>
    <button id="Signal">Signal test</button>

    <div id="partial"></div>

    <p id="user"></p>
    <div id="messageList"></div>
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/lib/signalr/signalr.js"></script>
<script src="/js/signalr.js"></script>