@*<div>
    <button id="GetMember">Get member</button>

    <div id="partial"></div>
</div>*@

<h1 id="partial"> </h1>


<div>
    <h1 class="custom-form-title">
        Register
    </h1>

    <div class="custom-wrap-input validate-input">
        <input class="custom-input" id="username" name="username" type="text" minlength="4" placeholder="Username" required> <br />
        <input class="custom-input" id="email" name="email" type="email" minlength="4" placeholder="Email"> <br />
        <input class="custom-input" id="passwordHash" name="passwordHash" type="password" minlength="4" placeholder="Password" required> <br />
        <input class="custom-input" id="passwordSalt" name="passwordSalt" type="password" minlength="4" placeholder="Repeat Password" required>
    </div>

    <div class="container-form-btn">
        <button id="Register" class="custom-form-btn">
            Register
        </button>
    </div>

</div>